/*Trying out @font-face to use a custom font. Not 100% sure it will work, sans-serif is used as a backup*/

@font-face { 
	font-family: CaviarDreams; src: url('CaviarDreams.tff'); 
} 
@font-face { 
	font-family: CaviarDreams_Bold; font-weight: bold; src: url('CaviarDreams_Bold.tff');
}

body {
	font-family: Comfortaa, CaviarDreams, sans-serif;
}

h1 {
	font-family: Comfortaa, CaviarDreams, sans-serif;
}

header {
	background-color: #2a2d2b;
	padding: 20px;
}

.favoriteColor {
	color:#51ffab;
}

.backgroundTextBlock {
	background-color: #fffbbc;
	padding-bottom: 60px;
}

.backgroundPhotoAndTextFacts {
	background-color: #fffbbc;
	padding-bottom: 10px;
}

.facebookButton {
	background-color: #ff7580;
	padding: 8px 26px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin-left: 0px;
}

.facebookButton:hover {
	background-color: white;
	color: #ff7580;
}

.githubButton {
	background-color: #ff66b2;
	padding: 8px 26px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin-left: 0px;
}

.githubButton:hover {
	background-color: white;
	color: #ff66b2;
}

.linkedinButton {
	background-color: #b187ff;
	padding: 8px 26px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin-left: 0px;
}

.linkedinButton:hover {
	background-color: white;
	color: #b187ff;
}

.spotifyButton {
	background-color: #f7874f;
	padding: 8px 26px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin-left: 0px;
}

.spotifyButton:hover {
	background-color: white;
	color: #f7874f;
}

.paceButton {
	background-color: #fce54e;
	padding: 8px 26px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin-left: 0px;
}

.paceButton:hover {
	background-color: white;
	color: #fce54e;
}

#footer {
	position: fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100px;
}

.mainPhoto {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 50%;
}

.accordionHeader1 {
	background-color: #87ff95;
	text-align: center;
	padding: 8px;
}

.accordionHeader1:hover {
	background-color: white;
	color: #87ff95;
}

.accordionHeader2 {
	background-color: #87ddff;
	text-align: center;
	padding: 8px;
}

.accordionHeader2:hover {
	background-color: white;
	color: #87ddff;
}

.accordionHeader3 {
	background-color: #ff2b60;
	text-align: center;
	padding: 8px;
}

.accordionHeader3:hover {
	background-color: white;
	color: #ff2b60;
}

.connectWithMe {
	color: white;
	float:left;
	font-size: 20px;
}

.buttons {
	text-align: center;
	padding-right: 80px;
}

.welcome {
	width: 300px;
	height: 250px;
}

.ui-dialog-titlebar, .ui-dialog-title {
	color: black;
	text-align: center;
	width: 100%
	font-size: 20px;
}

.dialogText {
	color: black;
}

.musicButton {
	background-color: black;
	padding: 8px 26px;
	text-decoration: none;
	color: white;
	font-size: 16px;
	margin-left: 0px;
	width: 25%;
}

.musicButton:hover {
	background-color: white;
	padding: 8px 26px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	width: 25%;
}